/ANDHandler.class
/ASCIIHandler.class
/BinaryHandler.class
/ConvertHandler.class
/DecimalHandler.class
/GreyCodeHandler.class
/HexadecimalHandler.class
/LogicHandler.class
/NANDHandler.class
/NORHandler.class
/NOTHandler.class
/ORHandler.class
/OctalHandler.class
/XNORHandler.class
/XORHandler.class
