/ANDHandlerTest.class
/ConvertHandlerTest.class
/ORHandlerTest.class
/ASCIIHandlerTest.class
/BinaryHandlerTest.class
/DecimalHandlerTest.class
/GreyCodeHandlerTest.class
/HexadecimalHandlerTest.class
/LogicHandlerTest.class
/OctalHandlerTest.class
/NANDHandlerTest.class
/NORHandlerTest.class
/NOTHandlerTest.class
/XNORHandlerTest.class
/XORHandlerTest.class
